<html>
    <head>
        <title>Roadrunner</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .outer {
              display: table;
              position: absolute;
              height: 100%;
              width: 100%;
            }
            .middle {
              display: table-cell;
              vertical-align: middle;
              
            }
          </style>
    </head>
    <body class='text-center'>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>