{% extends "base.html" %}
    
{% block content %}
<h1>Enter name of script</h1>
<form action="" method="post" enctype="multipart/form-data">
    <p>
        {{ form.scriptname.label }}<br>
        {{ form.scriptname }}
    </p>
    <p>
        {{ form.arguments.label }}<br>
        {{ form.arguments }}
    </p>
    <p>
        <label class="btn btn-default btn-file">
            Browse <input type="file" name="image">
        </label>
    </p>
    <a href="/upload">
        <input type="button" value="Upload">
    </a>
    <p>
        <input type="submit" value="Run Script!">
    </p>

</form>
{% endblock %}